<main>
  <div class="criteres">
    <div>
      <h1>Your search</h1>
      <div class="search-from container" data-controller="geocoder">
      <%= form_with url: communes_path, method: :get do |f| %>
        <%= f.label :address, 'Où est ton bar préféré ?' %>
        <%= f.text_field :address,
                          placeholder: 'Trouve une adresse',
                          value: params[:address],
                          id: 'geo-address' %>
        <%= f.label :price, 'Quel budget veux-tu mettre ?' %>
        <%= f.text_field :price_query %><br/>
        <%= f.label :km, 'Combien de km es-tu prêt à parcourir ?' %>
        <%= f.number_field :km %><br/>
        <%= f.submit "Edit my research" %>
  <% end %>
</div>
    </div>
  </div>
  <div class="mapbox-section">
    <div class="mapbox" id="map"
      style="width: 100%; height: 100vh;"
      data-controller="box"
      data-box-target="mapContainer"
      data-box-price-query-value="<%= params[:price_query] %>"
      data-box-distance-value="<%= params[:km] %>"
      data-box-address-value="<%= params[:address] %>">
    </div>
  </div>
</main>
