<%
  legends = [
    {
      color: '#e6a13d',
      # la couleur est à matcher avec la variable SCSS $charlie dans _colors.scss
      label: 'Au dessus du budget',
      description: 'De 98% à 110% du budget en prix/m²'
    },
    {
      color: '#00726e',
      # la couleur est à matcher avec la variable SCSS $echo dans _colors.scss
      label: 'Dans le budget',
      description: 'De 88% à 98% du budget en prix/m²'
    },
    {
      color: '#58a4b7',
      # la couleur est à matcher avec la variable SCSS $delta dans _colors.scss
      label: 'En dessous du budget',
      description: 'En dessous du 88% du budget en prix/m²'
    }
  ]
%>
<main>
  <div class="results"
       data-controller="box"
       data-box-lat-value="<%= params[:lat] %>"
       data-box-long-value="<%= params[:long] %>"
       data-box-distance-value="<%= params[:km] %>"
       data-box-address-value="<%= params[:address] %>"
       data-box-gare-active-value="<%= false %>"
       data-box-gare-marker-value="<%= @gare_markers.to_json %>">

    <div class="card-criteres">
      <div class="hero-index">
        <%= link_to "MappyRhône", root_path %>
      </div>

      <div class="search-form card" data-controller="geocoder">
        <div class="card-body from-group p-4">
          <%= form_with url: communes_path, method: :get do |f| %>
            <div class="label my-2">
              <%= f.label :address, "Lieu de travail", class: "label-description p-2" %>
              <%= f.text_field :address,
                                placeholder: 'Entrez une adresse',
                                value: params[:address],
                                id: 'geo-address',
                                data: {
                                  box_target: "addressInput",
                                        action: "latlngChange->box#updateAddress"
                                      },
                                class:"form-control p-3" %>
            </div>
            <div class="label my-2" data-controller="price">
                <%= f.label :price, 'Surface en m² souhaitée?', class: "label-description p-2" %>
                <%= f.text_field :metre_query,
                                 class:"form-control my-2",
                                 placeholder: 'Entrez votre surface en m²',
                                 data: {
                                   price_target: "metre",
                                         action: "keyup->price#calcul"
                                       },
                                 value: params[:metre_query]%>
                <%= f.label :price, 'Votre budget', class: "label-description p-2" %>
                <%= f.text_field :budget_query,
                                 class:"form-control mb-2",
                                 placeholder: 'Entrez votre budget en euros',
                                 data: {
                                   price_target: "budget",
                                         action: "keyup->price#calcul"
                                       },
                                 value: params[:budget_query] %>
                <%= f.label :price, 'Prix au m² correspondant', class: "label-description p-2" %>
                <%= f.text_field :price_query,
                                 class:"form-control",
                                 disabled: true,
                                 data: {
                                   price_target: "price",
                                         box_target: "priceInput",
                                         action: 'input->box#fetchGeoJson'
                                       },
                                 value: params[:price_query] %>
            </div>
            <div class="label my-2" data-controller="slider">
              <%= f.label :km, 'Distance souhaitée en km', class: "label-description p-2" %>
              <div class="d-flex align-items-center">
                <%= f.range_field :km,
                                  in: 0..50 ,
                                  class:"form-range p-3",
                                  min:"0",
                                  max:"50",
                                  step:"2",
                                  data: {
                                    slider_target: "cursor",
                                          box_target: "distanceInput",
                                          action: "change->slider#slide input->box#fetchGeoJson"
                                        },
                                  value: params[:km] %>
                <span class="kilometers text-secondary fw-bold" data-slider-target="range"></span>
              </div>
            </div>
          <% end %>

          <%= form_with do |f| %>
            <div class="form-check form-switch pt-4 switch-block" >
              <div>
                <%= f.label :gare, "Afficher les gares",for: "toggler", class: "form-check-label label-description-text" %>
              </div>
              <div>
                <%= f.check_box :gare, {
                                         id: 'toggler',
                                         class: "form-check-input",
                                         checked: false,
                                         data: { action: "click->box#toggleGares" }
                                       }, '0' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="hidden mapbox" data-box-target="mapContainer">

      <div class="animation" data-controller="animation" data-animation-target="animated">
        <div class="wrapper">
          <div class="static-txt">On cherche vos</div> <!--  Texte à changer + ajouter un peu de time + afffinage des résultats -->
          <ul class="dynamic-txt">
            <li><span class="vert">communes</span></li>
            <li><span class="bleu">gares</span></li>
            <li><span class="jaune">écoles</span></li>
          </ul>
        </div>
      </div>

      <div class="card-legend">
        <% legends.each do |legend| %>
          <div style="background: <%= legend[:color] %>; width: 30px; height: 20px; "></div>
            <div class="text">
              <p class="title"><%= legend[:label] %></p>
              <p class="description"><%= legend[:description] %></p>
            </div>
        <% end %>
      </div>
    </div>


  </div>
</main>
