<h1>Display map bellow</h1>
<% if @commune %>
<%= @commune.name %>
<%= @commune.latitude %>
<%= @commune.longitude.class %>

<div id="map"
     style="width: 1000px; height: 500px;"
     data-controller="mapbox"
     data-mapbox-coordinates-value="<%= @commune.polygon %>"
     data-mapbox-latitude-value="<%= @commune.latitude %>"
     data-mapbox-longitude-value="<%= @commune.longitude %>">
</div>
<%end %>

<% if @communes %>
    <p><%= @communes.length %></p>
  <% @communes.each do |commune|  %>
    <%= commune.name %>
  <%end  %>
<%end  %>
