<%
  legends = [
    {
      color: '#084594',
      label: 'Un peu au dessus du budget',
      description: 'Frère, il va falloir négocier'
    },
    {
      color: '#008E89',
      label: 'Dans le budget',
      description: 'C\'est bueno, tu peux y aller gros !'
    },
    {
      color: '#FFB344',
      label: 'En dessous du budget',
      description: 'C\'est cheap mon gars, fonce !'
    }
  ]
%>
<main>
  <div class="mapbox-section">
    <div class="mapbox" id="map"
         data-controller="box"
         data-box-target="mapContainer"
         data-box-price-query-value="<%= params[:price_query] %>"
         data-box-distance-value="<%= params[:km] %>"
         data-box-address-value="<%= params[:address] %>">
    </div>
    <div class="card-criteres">
      <div class="search-form" data-controller="geocoder">
        <div class="form-group">
          <%= form_with url: communes_path, method: :get do |f| %>
            <div class="label my-3">
              <%= f.label :address, "Quelle est l'adresse de ton lieu de travail ?", class: "p-2" %>
              <%= f.text_field :address,
                                placeholder: 'Trouve une adresse',
                                value: params[:address],
                                id: 'geo-address',
                                class:"form-control p-3" %>
            </div>
           <div class="label my-3" data-controller="price">
              <%= f.label :price, 'Surface en m² souhaitée?', class: "p-2" %>
              <%= f.text_field :metre_query, class:"form-control ", data: { price_target: "metre", action: "keyup->price#calcul"}, value: params[:metre_query]%>
              <%= f.label :price, 'Votre budget en €?', class: "p-2" %>
              <%= f.text_field :budget_query, class:"form-control ", data: { price_target: "budget", action: "keyup->price#calcul"}, value: params[:budget_query] %>
              <%= f.label :price, 'Votre prix au m²', class: "p-2" %>
              <%= f.text_field :price_query, class:"form-control ", data: { price_target: "price"  }, value: params[:price_query] %>
           </div>
              <div class="label my-3" data-controller="slider">
                <%= f.label :km, 'Combien de km es-tu prêt à parcourir ?', class: "p-2" %>
                <div class="d-flex">
                  <%= f.range_field :km, in: 0..30 ,class:"form-range p-3", min:"0", max:"30", step:"2",
                  data: {target: "slider.cursor",
                        action: "change->slider#slide"},
                  value: params[:km]
                  %>
                  <span class="text-secondary" data-slider-target="range"></span>
                </div>
              </div>
                <%= f.submit "Search", class:"btn btn-primary w-100 mt-4" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="card-filter">
      <p>this is the card filter</p>
        <%= form_with do |f| %>
          <div class="form-check form-switch" data-controller="box">
            <%= f.label :gare, "Gare", class: "form-check-label" %>
            <%= f.check_box :gare, {class: "form-check-input"}, true, false %>
          </div>
        <% end %>
    </div>

    <div class="card-legend">
      <% legends.each do |legend| %>
        <div style="background: <%= legend[:color] %>; width: 30px; height: 20px; "></div>
          <div class="text">
            <p class="title"><%= legend[:label] %></p>
            <p class="description"><%= legend[:description] %></p>
          </div>
      <% end %>
    </div>
  </div>
</main>
