<section class="section-hero">

  <div class="hero container p-4">
    <div class="hero-title text-light">
      <h1>MappyRhone vous souhaite la bienvenue</h1>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti deleniti amet doloribus aut nulla numquam dicta veniam magni sint omnis in eius, earum, velit tempore ullam hic dolor animi architecto?</p>
    </div>

    <div class="hero-image">
      <div class="search-form container card" style="width:600px">
        <div class="card-body from-group p-4">
          <%= form_with url: communes_path, method: :get do |f| %>
           <div class="label my-3" data-controller="geocoder">
              <%= f.label :address, "Quelle est l'adresse de ton lieu de travail ?", class: "p-2" %>
              <%= f.text_field :address,
                                placeholder: 'Trouve une adresse',
                                value: params[:address],
                                id: 'geo-address',
                                class:"form-control p-3" %>
           </div>
           <div class="label my-3">
              <%= f.label :price, 'Quel budget veux-tu mettre ?', class: "p-2" %>
              <%= f.text_field :price_query, class:"form-control " %>
           </div>
           <div class="label my-3" data-controller="slider">
              <%= f.label :km, 'Combien de km es-tu prêt à parcourir ?', class: "p-2" %>
              <div class="d-flex">
                <%= f.range_field :km, in: 0..30 ,class:"form-range p-3", min:"0", max:"30", step:"2",
                data: {target: "slider.cursor",
                      action: "change->slider#slide"}
                %>
                <span class="text-secondary" data-slider-target="range"></span>
              </div>

           </div>
            <%= f.submit "Search", class:"btn btn-primary w-100 mt-4" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
